<% layout("/layouts/boilerplate.ejs")  %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2>listing details:</h2>
    </div>
    <div class="card col-6 offset-2 show-card">
        <img src="<%=listings.image.url%>" class="card-img-top show-img" alt="listings_image">
        <div class="card-body">
            <p class="card-text">
                <b><%=listings.title%></b><br/>
                <%= listings.title%><br/>
                ><%= listings.description%><br/>
                &#8377; <%= listings.price.toLocaleString("en-IN")%><br/>
                <%= listings.location%><br/>
                <%= listings.country%><br/>
            </p>    
        </div>
    </div>
    <div class="btns mt-3 mb-3">
        <a href="/listings/<%= listings._id%>/new " class="btn btn-dark col-1 edit-btn offset-2">Edit</a>
        <br/> <br/>
        <form class="btns btn-dark offset-1 delete-btn btn-danger" method="post" action="/listings/<%=listings.id%>?_method=DELETE">
            <button>delete</button>
        </form>
    </div>
</div>